
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Service</th>
      <th scope="col">URL</th>
      <th scope="col">Status</th>
      <th scope="col">Comment</th>
    </tr>
  </thead>
  <tbody>
    {% for service in health.services %}
        <tr>
              <th scope="row">{{service.id}}</th>
              <td>{{ service.name }}</td>
              <td>{{ service.address }}</td>
              <td>
              {% if service.success %}
                  <div class="ring-container">
                      <div class="ringring pingable"></div>
                  </div>
              {% else %}
                  <div class="ring-container">
                      <div class="ringring non-pingable"></div>
                  </div>
              {% endif %}
              </td>
              <td class="{% if service.success %}text-success{% else %}text-danger{% endif %}">{{ service.comment }}</td>
        </tr>
   {% endfor %}
  </tbody>
</table>
