<form class="form-horizontal" method="post" action="#">
    <h5 v-if="form_login.error" class="text-danger">error</h5>
    <div class="form-group" style="margin-bottom: 5px;">
        <select v-model="form_ssl.option"  id="options" name="options">
          <option value="manual">Manually</option>
          <option value="acme">Let's Encrypt</option>
          <option value="fiat">External SSL Proxy</option>
        </select>
    </div>
    <div
            class="form-group" style="margin-bottom: 5px; margin-top: 40px;"
    >
        <p class="blockquote-footer">
            This case is prefer if You have SSL <b>certificate</b> and <b>private key</b> files.
            Pass them to environment variables <b>CERT_FILE</b> and <b>CERT_KEY_FILE</b>
            See example <a target="_blank" href="https://github.com/Sirius-social/didcomm/blob/main/docs/SSL_and_Proxy.md#case-1-you-already-have-ssl-cert-and-cert_key-files">here</a>
        </p>
    </div>
    <div class="form-group" style="margin-top: 10px;">
        <button type="button" class="btn btn-primary btn-lg btn-block login-button">Apply</button>
    </div>
</form>