<form class="form-horizontal" method="post" action="#">
    <h5 v-if="form_static_connection.error" class="text-danger">[[ form_static_connection.error ]]</h5>

    <div class="form-group" style="margin-bottom: 5px;">
        <label class="fw-light" for="conn_label" class="cols-sm-2 control-label">Label</label>
        <div class="cols-sm-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                <input
                        v-model="form_static_connection.label"  type="text" class="form-control"
                        name="conn_label" id="conn_label" placeholder="Enter Label"
                />
            </div>
        </div>
    </div>

    <div class="form-group" style="margin-bottom: 5px;">
        <label class="fw-light" for="conn_did" class="cols-sm-2 control-label">DID</label>
        <div class="cols-sm-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                <input
                        v-model="form_static_connection.did"  type="text" class="form-control"
                        name="conn_did" id="conn_did" placeholder="Enter DID"
                />
            </div>
        </div>
    </div>

    <div class="form-group" style="margin-bottom: 5px;">
        <label class="fw-light" for="conn_verkey" class="cols-sm-2 control-label">Verkey</label>
        <div class="cols-sm-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                <input
                        v-model="form_static_connection.verkey"  type="text" class="form-control"
                        name="conn_verkey" id="conn_verkey" placeholder="Enter Verkey"
                />
            </div>
        </div>
    </div>

    <div class="form-group" style="margin-bottom: 5px;">
        <label class="fw-light" for="conn_fcm_device_id" class="cols-sm-2 control-label">Firebase Device ID</label>
        <div class="cols-sm-10">
            <div class="form-check">
              <input v-model="form_static_connection.fcm_device_enabled" class="form-check-input" type="checkbox" value="" id="email-use-ssl">
              <label for="conn-dev-id">FCM</label>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                <input
                        v-model="form_static_connection.fcm_device_id"  type="text" class="form-control"
                        :readonly="!form_static_connection.fcm_device_enabled"
                        name="conn_fcm_device_id" id="conn_fcm_device_id" placeholder="Enter device id"
                />
            </div>
        </div>
    </div>


</form>
