<form class="form-horizontal" method="post" action="#">
    <h5 class="text-danger"></h5>
    <div class="form-group" style="margin-bottom: 5px;">
        <label class="fw-light" for="webroot-url" class="cols-sm-2 control-label" style="margin-right: 10px;">Webroot</label>
        <a href="https://github.com/Sirius-social/didcomm-mediator/blob/main/docs/AdminGuide.md#webroot" title="Webroot: view the doc" target="_blank">
            <img src="{{ url_for('static', path='/icons/q.png') }}" style="max-width: 18px;">
        </a>
        <div class="cols-sm-10">
            <div class="input-group">
                <div class="col">
                    <input
                            v-model="form_webroot.url"
                            @keyup="form_webroot.ping = 'starting'"
                            :readonly="form_webroot.env_url"
                            type="text" class="form-control"
                            name="webroot-url"
                            id="webroot-url"
                            placeholder="Webroot"
                    />
                </div>
                <div class="col-sm-1">
                    <div class="ring-container">
                        <div
                                class="ringring"
                                v-bind:class="{ pingable: form_webroot.ping === 'success', 'ping-starting':form_webroot.ping === 'starting', 'non-pingable': form_webroot.ping === 'error'}"
                        ></div>
                        <div
                                class="circle"
                                v-bind:class="{ pingable: form_webroot.ping === 'success', 'ping-starting':form_webroot.ping === 'starting', 'non-pingable': form_webroot.ping === 'error'}"
                        ></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 100%; height: 20px;">
        <span
                v-bind:class="{ pingable: form_webroot.ping === 'success', 'ping-starting':form_webroot.ping === 'starting', 'non-pingable': form_webroot.ping === 'error'}"
                style="float: right;">
            [[ping_status_caption]]
        </span>
    </div>
    <div  v-if="form_webroot.env_url"
            class="form-group" style="margin-bottom: 5px; margin-top: 40px;"
    >
        <p class="blockquote-footer">
            You can not edit this input because environment var <cite>WEBROOT</cite> is set,
            <a href="https://github.com/Sirius-social/didcomm-mediator/blob/main/docs/AdminGuide.md#environment-variables">view the docs</a>  for details.
            If you wish to set webroot here or set to default value <cite>[[form_webroot.full_base_url]]</cite>,
            you should remove <cite>WEBROOT</cite> from docker container environment and restart docker container.
        </p>
    </div>
    <div  v-if="!form_webroot.env_url"
            class="form-group" style="margin-bottom: 5px; margin-top: 40px;"
    >
        <p class="blockquote-footer">
            <a href="https://github.com/Sirius-social/didcomm-mediator/blob/main/docs/AdminGuide.md#environment-variables">view the docs</a>  for details.
        </p>
    </div>

    <div class="form-group" style="margin-top: 25px;">
        <button
                v-if="form_webroot.env_url"
                @click.prevent="current_step += 1"
                type="button"
                class="btn btn-primary btn-lg btn-block login-button"
        >
            Skip >
        </button>
        <button
                v-if="!form_webroot.env_url"
                @click.prevent="set_webroot"
                type="button"
                class="btn btn-primary btn-lg btn-block login-button"
        >
            Save
        </button>
    </div>
</form>

<script>
    let ping_in_process = false;
    setInterval(function(){
        if (!ping_in_process && app.$data.current_step === 2) {
            ping_in_process = true;
            let url = app.$data.form_webroot.url + '{{ base_url }}' + '/ping';
            console.log(url);
            axios.get(
                url
            ).then(function (response) {
                app.$data.form_webroot.ping = 'success';
                ping_in_process = false;
            }).catch(function (error) {
                app.$data.form_webroot.ping = 'error';
                ping_in_process = false;
            });
        }
    }, 1000);
</script>