<form class="form-horizontal" method="post" action="#">
    <h5 class="text-danger"></h5>
    <div class="form-group" style="margin-bottom: 5px;">
        <label class="fw-light" for="webroot-url" class="cols-sm-2 control-label" style="margin-right: 10px;">Webroot</label>
        <a href="#" title="Webroot: view the doc">
            <img src="{{ url_for('static', path='/icons/q.png') }}" style="max-width: 18px;">
        </a>
        <div class="cols-sm-10">
            <div class="input-group">
                <input v-model="form_webroot.url" type="text" class="form-control" name="webroot-url" id="webroot-url" placeholder="Webroot" />
            </div>
        </div>
    </div>
    <div class="form-group" style="margin-bottom: 5px;">
        <label class="fw-light" class="cols-sm-2 control-label" style="margin-right: 10px;">Let`s Encrypt</label>
    </div>
</form>