<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <link href="{{ url_for('static', path='/admin/css/styles.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', path='/vue.min.js') }}"></script>
</head>

<body id="app">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
    <div class="container px-5">
        <img src="{{ url_for('static', path='/icons/logo.png') }}" style="max-width: 70px; max-height:70px;">
        <a class="navbar-brand fw-bold" href="#app">Launch DIDComm server components</a>
        <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbarResponsive" data-bs-toggle="collapse" type="button">
            Menu
            <i class="bi-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                <li class="nav-item"><a class="nav-link me-lg-3" href="#features">Features</a></li>
                <li class="nav-item"><a class="nav-link me-lg-3" href="#download">Download</a></li>
            </ul>
            <!--
            <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" data-bs-target="#feedbackModal"
                    data-bs-toggle="modal">
                        <span class="d-flex align-items-center">
                            <i class="bi-chat-text-fill me-2"></i>
                            <span class="small">Send Feedback</span>
                        </span>
            </button>
            -->
        </div>
    </div>
</nav>
<!-- Mashead header-->
<header class="masthead">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <!-- Mashead text and app badges-->
                <div class="mb-5 mb-lg-0 text-center text-lg-start">
                    <h1 class="display-1 lh-1 mb-3">Showcase your app beautifully.</h1>
                    <p class="lead fw-normal text-muted mb-5">Launch your mobile app landing page faster with this free,
                        open source theme from Start Bootstrap!</p>
                    <div class="d-flex flex-column flex-lg-row align-items-center">
                        <a class="me-lg-3 mb-4 mb-lg-0" href="#!"><img alt="..."
                                                                       class="app-badge"
                                                                       src="assets/img/google-play-badge.svg"/></a>
                        <a href="#!"><img alt="..." class="app-badge" src="assets/img/app-store-badge.svg"/></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <!-- Masthead device mockup feature-->
                <div class="masthead-device-mockup">

                    <img src="{{ url_for('static', path='/icons/lunch.gif') }}" style="max-width: 500px;">
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Quote/testimonial aside-->
<aside class="text-center bg-gradient-primary-to-secondary">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xl-8">
                <div class="h2 fs-1 text-white mb-4">"An intuitive solution to DIDComm Messaging,
                    wrapped up in a single app!"
                </div>
            </div>
        </div>
    </div>
</aside>
<!-- Footer-->
<footer class="bg-black text-center py-5">
    <div class="container px-5">
        <div class="text-white-50 small">
            <a href="{{github}}" target="_blank">GitHub</a>
            <span class="mx-1">&middot;</span>
            <a href="{{issues}}" target="_blank">Issues</a>
            <span class="mx-1">&middot;</span>
            <a href="{{spec}}" target="_blank">Spec</a>
        </div>
    </div>
</footer>

<!-- Core theme JS-->
<script src="{{ url_for('static', path='/admin/js/scripts.js') }}"></script>
</body>

</html>