<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <link href="{{ url_for('static', path='/admin/css/styles.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', path='/vue.min.js') }}"></script>
    <script src="{{ url_for('static', path='/axios.min.js') }}"></script>
</head>

<body id="top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
    <div class="container px-5">
        <img src="{{ url_for('static', path='/icons/logo.png') }}" style="max-width: 70px; max-height:70px;">
        <a class="navbar-brand fw-bold" href="#">Launch DIDComm server components</a>
        <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbarResponsive" data-bs-toggle="collapse" type="button">
            Menu
            <i class="bi-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                <li class="nav-item"><a class="nav-link me-lg-3" href="{{features}}" target="_blank">Features</a></li>
                <li class="nav-item"><a class="nav-link me-lg-3" href="{{download}}" target="_blank">Download</a></li>
            </ul>
            <!--
            <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" data-bs-target="#feedbackModal"
                    data-bs-toggle="modal">
                        <span class="d-flex align-items-center">
                            <i class="bi-chat-text-fill me-2"></i>
                            <span class="small">Send Feedback</span>
                        </span>
            </button>
            -->
        </div>
    </div>
</nav>
<!-- Mashead header-->
<header class="masthead" id="app">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <!-- Register form-->
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <!--
                           Login form
                        -->
                        <div v-if="current_step == 0" class="card">
                            <div class="card-header">Login</div>
                            <div class="card-body">
                                {% include "forms/login.html" %}
                            </div>
                        </div>
                        <!--
                           Form for creation admin account (if not exists)
                        -->
                        <div v-if="current_step == 1" class="card">
                            <div class="card-header">Step-1: Create Admin account</div>
                            <div class="card-body">
                                {% include "forms/create_user.html" %}
                            </div>
                        </div>
                        <!--
                           Form to configure webroot and LetsEncrypt
                        -->
                        <div v-if="current_step == 2" class="card">
                            <div class="card-header">Step-2: Configure webroot URL</div>
                            <div class="card-body">
                                {% include "forms/webroot.html" %}
                            </div>
                        </div>
                        <!--
                           Form to configure SSL & ACME
                        -->
                        <div v-if="current_step == 3" class="card">
                            <div class="card-header">Step-3: Configure SSL</div>
                            <div class="card-body">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <!-- Masthead device mockup feature-->
                <div class="masthead-device-mockup">

                    <img src="{{ url_for('static', path='/icons/lunch.gif') }}" style="max-width: 500px;">
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Quote/testimonial aside-->
<aside class="text-center bg-gradient-primary-to-secondary">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xl-8">
                <div class="h2 fs-1 text-white mb-4">"An intuitive solution to DIDComm Messaging,
                    wrapped up in a single app!"
                </div>
            </div>
        </div>
    </div>
</aside>
<!-- Footer-->
<footer class="bg-black text-center py-5">
    <div class="container px-5">
        <div class="text-white-50 small">
            <a href="{{github}}" target="_blank">GitHub</a>
            <span class="mx-1">&middot;</span>
            <a href="{{issues}}" target="_blank">Issues</a>
            <span class="mx-1">&middot;</span>
            <a href="{{spec}}" target="_blank">Spec</a>
        </div>
    </div>
</footer>

<!-- VueJS  -->
<script>
    app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            current_step: {{ current_step }},
            form_login: {
                username: '',
                password: '',
                error: ''
            },
            form_create_user: {
                username: 'admin',
                password1: '',
                password2: '',
                error: ''
            },
            form_webroot: {
                url: '{{ settings.webroot }}',
                env_url: '{{ env.webroot }}',
                full_base_url: '{{ settings.full_base_url }}'
            }
        },
        methods: {
            login: function(){
                let url = '{{ base_url }}' + '/login';
                let self = this;
                axios.post(
                    url, this.form_login
                ).then(function (response) {
                    self.form_login.error = null;
                    console.log('======== SUCCESS ========')
                    console.log(response);
                    location.reload();
                }).catch(function (error) {
                    let detail = error.data.detail
                    self.form_login.error = detail;
                    console.log('======== ERROR ========')
                    console.log(error.data);
                });
            },
            create_user: function(){
                let url = '{{ base_url }}' + '/create_user';
                let self = this;
                axios.post(
                    url, this.form_create_user
                ).then(function (response) {
                    self.form_create_user.error = null;
                    console.log('======== SUCCESS ========')
                    console.log(response);
                    location.reload();
                }).catch(function (error) {
                    let detail = error.data.detail
                    self.form_create_user.error = detail;
                    console.log('======== ERROR ========')
                    console.log(error.data);
                });
            }
        }
    });
</script>

</body>

</html>